body {
    padding: 0 20px;
}

@media all and (max-width: 767px) {
    body {
        padding: 0 5px;
    }
}

.feature {
    position: relative;
}

.feature .uri {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}

.scenarios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: flex-start;   
}

.scenario {
    flex-grow: 1;
}

.scenario.expanded:nth-child(odd) {
    background-color: #fff;
}

.scenario.expanded:nth-child(even) {
    background-color: lightgrey;
}

.scenario.expanded {
    flex-grow: 100;
}

.scenario.passed .heading {
    background-color: green;
    opacity: 0.8;
    height: 30px;
}

.scenario.failed .heading {
    background-color: red;
    opacity: 0.8;
}

.scenario .heading:hover
{
    cursor: pointer;
}

.scenario.passed .heading:hover
{
    opacity: 1.0;
}

.scenario.failed .heading:hover
{
    opacity: 1.0;
}

.scenario-contents {
    position: relative;
    padding: 0 10px;
}

.toggle-steps {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    right: 10px;
}

.toggle-steps:hover {
    cursor: pointer;
    text-decoration: underline;
    color: green;
}

.animate-captures {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: 0;
    right: 120px;
}

.animate-captures:hover {
    cursor: pointer;
    text-decoration: underline;
    color: green;
}

/* Captures */
.captures img, .embeddings img  {
    width: 50px;
    display: inline-block;
    border: lightgrey 3px solid;
}

.embeddings img {
    display: block;
    clear: both;
    margin-top: 22px;
}

.captures img:hover, .embeddings img:hover {
    border: white 3px solid;
    cursor: pointer
}

#colorbox {
    z-index: 10;
}

#cboxOverlay {
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 9;
}

.steps {
    display: block;
    box-shadow: #999 0px 0px 10px;
    padding: 10px 0;
    margin-bottom: 10px;
}

.step {
    height: auto;
    overflow: hidden;
    clear: both;
    padding: 12px 10px 7px 10px;
}

.step:hover .location {
    color: black;
}

.step:nth-child(odd) {
    background-color: red;
}

.step:nth-child(even) {
    background-color: blue;
}

.step h4 {
    font-size: 1em;
    float: left;
    margin: -4px 0 0 0;
    font-weight: normal;
}

.keyword {
    font-weight: bold;
}

.step .location {
    float: right;
    display: block;
    color: #999;
    font-size: 10px;
    text-align: right;
}

#colorbox.capture-slideshow #cboxPrevious, #colorbox.capture-slideshow #cboxNext, #colorbox.capture-slideshow #cboxSlideshow {
    display: none !important;
}

.animate-captures {
    display: block;
    margin-bottom: 10px;
    position: absolute;
    top: 20px;
    right: 0px;
}