body {
    padding: 0 20px;
    font-family: 'HelveticaNeue';
    background-color: #f1f1f2;
}

a {
    color: #007aff;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;    
}

@media all and (max-width: 767px) {
    body {
        padding: 0 5px;
    }
}

.feature {
    position: relative;
    padding-top: 30px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'HelveticaNeue-UltraLight';
    font-size: 30px;
    font-weight: normal;
    float: left;
    margin: -16px 0 0 0;
}

.feature .uri {
    font-family: 'HelveticaNeue-Light';
    font-size: 12px;
}

.feature .animate-captures {
    font-family: 'HelveticaNeue-UltraLight';
    font-size: 18px;
    display: block;
    margin-bottom: 3px;
    float: right;
    text-align: right;
}

.feature .uri {
    display: block;
    float: right;
    text-align: right;
}

.feature > .duration {
    display: block;
    font-size: 10px;
    font-family: 'HelveticaNeue-Bold';
    float: left;
    clear: left;
    margin-bottom: 3px;
}

.scenarios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; 
    align-items: flex-start; 
    clear: both;
}

.scenario {
    flex-grow: 1;
}

.scenario.expanded:nth-child(odd) {
    background-color: #f7f7f7;
}

.scenario.expanded:nth-child(even) {
    background-color: #e8e8e8;
}

.scenario.expanded {
    flex-grow: 100;
}

.scenario .heading {
    opacity: 0.8;
    height: 30px;    
}

.scenario.passed .heading {
    background-color: #4cd964;
}

.scenario.failed .heading {
    background-color: #ff3b30;
}

.scenario .heading:hover
{
    cursor: pointer;
}

.scenario .heading:hover
{
    opacity: 1.0;
}

.scenario.expanded .heading
{
    opacity: 1.0;
}

.scenario-contents {
    position: relative;
    padding: 10px;
}

.toggle-steps {
    display: block;
    margin-bottom: 10px;
    float: right;
    font-family: 'HelveticaNeue-UltraLight';
    font-size: 18px;
}

/* Captures */
.captures {
    clear: both; 
}

.captures img, .embeddings img  {
    width: 50px;
    display: inline-block;
    border: #ccc 2px solid;
    box-shadow: #ccc 1px 1px 0px;
}

.embeddings img {
    display: block;
    clear: both;
    margin-top: 22px;
}

.captures img:hover, .embeddings img:hover {
    border: white 2px solid;
    cursor: pointer
}

#colorbox {
    z-index: 10;
}

#cboxOverlay {
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    z-index: 9;
}

.steps {
    display: block;
    box-shadow: #ccc 1px 1px 0px;
    clear: both;
    border: #ccc 1px solid;
    background-color: white;   
}

.step {
    height: auto;
    overflow: hidden;
    clear: both;
    padding: 12px 10px 7px 10px;
}

.steps .step.failed {
    background-color: #ff3b30;
}

.step:hover .location {
    color: black;
}

.step:nth-child(odd) {
    background-color: #f7f7f7;
}

.step:nth-child(even) {
    background-color: #fafafa;
}

.step:hover {
    background-color: #fff;
}

.step h4 {
    font-size: 1em;
    float: left;
    margin: -4px 0 0 0;
    font-family: 'HelveticaNeue-Light';
    font-weight: normal;
    color: #444;
}

.step h4 .duration {
    color: #ccc;
    display: none;
}

.step:hover h4 {
    color: #000;
}

.step:hover h4 .duration {
    display: inline;
}

.keyword {
    font-family: 'HelveticaNeue-Medium';
    color: #000;
}

.step .location {
    float: right;
    display: block;
    color: #999;
    font-size: 10px;
    text-align: right;
}

.step.failed .location {
    color: black;
}

.step .error-message {
    display: block;
    clear: both;
    font-family: 'Courier New';
    font-size: 10px;
    padding: 5px;
    background-color: black;
    color: white;
}

#colorbox.capture-slideshow #cboxPrevious, #colorbox.capture-slideshow #cboxNext, #colorbox.capture-slideshow #cboxSlideshow {
    display: none !important;
}

h3 {
    font-family: 'HelveticaNeue-Light';
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    float: left;
    color: #444;
}

.ui-tooltip {
    padding: 10px 20px;
    color: #444;
    border-radius: 0px;
    font: 20px "HelveticaNeue-Light", Sans-Serif;
    box-shadow: 1px 1px 0 #ccc;
    font-weight: normal;
    border: #ccc 2px solid;
  }